.env
.venv/
.venv_old/
__pycache__/
*.pyc
build/
data/
node_modules/
work/
.coverage
.pytest_cache/
.git/
.gitignore
.pre-commit-config.yaml
.vscode/
resources/
tests/
clickhouse-config/
docs/
*.md
*.png
*.mermaid
LICENSE
